## Data Concatinating

In [43]:
import pandas as pd
import os
import shutil
import re

In [4]:
parent_path = r"E:\Projects\IMPACT OF E-WOM ON PURCHASE INTENTION OF KURTIS"

In [7]:
file1 = pd.read_csv(os.path.join(parent_path,'data','file1.csv'))
file2 = pd.read_csv(os.path.join(parent_path,'data','file2.csv'))
file3 = pd.read_csv(os.path.join(parent_path,'data','file3.csv'))
file4 = pd.read_csv(os.path.join(parent_path,'data','file4.csv'))
file5 = pd.read_csv(os.path.join(parent_path,'data','file5.csv'))
file6 = pd.read_csv(os.path.join(parent_path,'data','file6.csv'))
file7 = pd.read_csv(os.path.join(parent_path,'data','file7.csv'))
file8 = pd.read_csv(os.path.join(parent_path,'data','file8.csv'))
file9 = pd.read_csv(os.path.join(parent_path,'data','file9.csv'))
file10 = pd.read_csv(os.path.join(parent_path,'data','file10.csv'))
file11 = pd.read_csv(os.path.join(parent_path,'data','file11.csv'))
file12 = pd.read_csv(os.path.join(parent_path,'data','file12.csv'))

In [8]:
files = [file2,file3,file4,file5,file6,file7,file8,file9,file10,file11,file12,]

In [21]:
dataset = file1
for data in files:
    dataset = pd.concat([dataset,data,])

In [64]:
dataset.shape

(17951, 2)

In [28]:
dataset.columns

Index(['Rating', 'Review'], dtype='object')

In [27]:
dataset.drop(["Unnamed: 0"], inplace= True, axis= 1 )

In [49]:
dataset.head()

            Rating                                             Review
0      Recommended                      Super quality..I loved it üòò‚ù§Ô∏è
1      Recommended                                  Nice üëçüòç super ‚ù§Ô∏èüëç
2  Not Recommended                                       Poor quality
3  Not Recommended  Colour faded after first wash itself , and clo...
4      Recommended  Nice meterial but there is no tag on this dres...

In [50]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17951 entries, 0 to 529
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  17951 non-null  object
 1   Review  17951 non-null  object
dtypes: object(2)
memory usage: 420.7+ KB

In [48]:
dataset.isnull().sum()

Rating    0
Review    0
dtype: int64

In [33]:
dataset.dropna(inplace= True)

In [37]:
def recommend(x):
    if x<=3:
        return "Not Recommended"
    else:
        return "Recommended"

In [38]:
dataset['Rating'] = dataset['Rating'].map(recommend)

In [41]:
dataset.to_csv(os.path.join(parent_path,'data','combined_data.csv'))

## Data Cleaning

In [61]:
def alphanumeric(x):
    string = re.sub(r'[\W_]+'," ", x)
    return str(string.lower())

In [62]:
dataset.Review = dataset.Review.apply(alphanumeric)

In [73]:
dataset.reset_index(inplace=True)

In [75]:
dataset.drop(['index'], axis= 1,inplace= True)

In [81]:
dataset.drop_duplicates(["Review"],keep = 'first',inplace = True)

## Removing stop-words

In [97]:
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [100]:
stop.remove('not')

In [102]:
dataset['No_stopword'] = dataset['Review'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

## Lemmatization

In [108]:
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from string import digits

In [112]:
def lemmatization(sentence):
    remove_digits = str.maketrans('', '', digits)
    wnl = WordNetLemmatizer()
    sent = sentence.translate(remove_digits)
    tokans = word_tokenize(sent)
    words = []
    for word in tokans:
        words.append(wnl.lemmatize(word,pos = 'v'))
    return ' '.join(words)

In [116]:
dataset['No_stopword'] = dataset['No_stopword'].apply(lemmatization)

In [120]:
dataset.drop_duplicates(["No_stopword"],keep = 'first',inplace = True)

In [129]:
dataset['Review'] = dataset['No_stopword']

In [132]:
dataset.drop(['Unnamed: 0','No_stopword'],axis = 1, inplace= True)

In [142]:
dataset.to_csv(os.path.join(parent_path,"data",'final_data.csv'))